jwt:
  secret: "ascent-secret-key-ascent-secret-key-ascent-secret-key-1234567890"
  access-expiration: 1800000
  refresh-expiration: 1209600000

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ascent?serverTimezone=Asia/Seoul&useUnicode=true&characterEncoding=UTF-8&allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: qhdks12!@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 8080
